VITE_FIREBASE_API_KEY= "AIzaSyBQd1NAY0fGWRQMNG8GJQyf_G__SSe9GBY"
VITE_FIREBASE_AUTH_DOMAIN= "kebudayaan-ikpmbuy.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID= "kebudayaan-ikpmbuy"
VITE_FIREBASE_STORAGE_BUCKET= "kebudayaan-ikpmbuy.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "593032923175"
VITE_FIREBASE_APP_ID= "1:593032923175:web:f6054c990c78d8372c6602"
